
.page{
    align-items: center;
   /* gap: 10rem; */
   margin-left: 50px; 
   margin-top: 50px;
   width: 200px;
   height: 300px;
    /* background:linear-gradient(rgb(0, 217, 255), rgb(0, 60, 255)); */
    border-radius: 2rem;
}
.login{
    margin-top: 10%;
    margin-left: 10%;
    align-items: center;
    width:600px;
    height:500px;

    display:flex;
    flex-direction: column;
    background:linear-gradient(rgb(0, 217, 255), rgb(0, 60, 255));
    width:max-content;
    border-radius: 2rem;


}
.log{
    margin-top: 30px;
}
.button
{
    width: fit-content;
    background-color: antiquewhite;
}
.nav
{
    margin-left: 38%;
    display: flex;
    /* flex-direction: row; */
    gap: 5rem;
    align-items: center;
}
.hero{

display: flex;
flex-direction: column;
}